- content_tag_for :div, language do
  %ul{:class => 'attributes'}
    %li
      %strong Name:
      =h language.name
    %li
      %strong Symbol:
      =h language.symbol
    = link_to 'Show', language
    = link_to 'Edit', edit_language_path(language)
    = link_to 'Destroy', language, :confirm => 'Are you sure?', :method => :delete