%h2 Editing language
= render :partial => "form", :locals => {:language => @language}
%ul{:class => 'menu'}
  %li= link_to 'Show', @language
  %li= link_to 'Back', languages_path
  %li= link_to 'Destroy', @language, :confirm => 'Are you sure?', :method => :delete  