%h2= "Language \"#{@language.to_param}\""
- content_tag_for :div, @language do
  %ul{:class => 'attributes'}
    %li
      %strong Name:
      =h @language.name
    %li
      %strong Symbol:
      =h @language.symbol
%ul{:class => 'menu'}
  %li= link_to 'Edit', edit_language_path(@language)
  %li= link_to 'Back', languages_path